.container {
    width: 500px;
}
.dpd {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.dpd td {
    padding: 3px;
}

.dpd th {
    padding: 3px;
    background-color: #9ED4F8;
}

.dpd tr.title {
    height: 33px;
    font-weight: bold;
}

.dpd tr.white {
    background-color: #F6FCFC;
}

.dpd tr.blue {
    background-color: #D6F0F1;
}

/** Button **/
.btn,
input[type="submit"],
input[type="button"]
{
    border-radius: 100px;
    background: inherit;
    font-family: 'Roboto-Regular', Arial, serif;
    font-size: 18px;
    padding: 10px 28px;
    border: 0;
    text-decoration: none;
}

.btn:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    color: #2ab1b0;
}

.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    color: #ffffff;
    background: #2ab1b0;
}
.btn-primary,
input[type="button"],
input[type="submit"] {
    border: 2px solid #2ab1b0;
    color: #2ab1b0;
}

.btn-primary:focus,
input[type="submit"]:focus {
    background: inherit;
    color: #2ab1b0;
}
